<main role="main">
	<section class="jumbotron text-center">
		<div class="container">
			<h1 class="jumbotron-heading">Celebrities</h1>
			<p class="lead text-muted">This is album of my favor anime character.</p>
			<p>
				<button type="button" class="btn btn-primary my-2" data-toggle="modal" data-target="#createModal">
					Create new character
				</button>
			</p>
		</div>
	</section>

	<!--Create Modal-->
	<div class="modal fade" id="createModal" tabindex="-1" role="dialog" aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="modalTitle">Create new character</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">

					<form id="frmCreate">
						<div class="form-group">
							<label for="createCharTitle">Title</label>
							<input class="form-control" id="createCharTitle" rows="1" name="title"></input>
						</div>
						<div class="form-group">
							<label for="createCharDescription">Description</label>
							<textarea class="form-control" id="createCharDescription" rows="3"
									  name="description"></textarea>
						</div>
						<div class="form-group">
							<label for="createCharImage">Image URL</label>
							<input class="form-control" id="createCharImage" rows="1" name="images"></input>
						</div>
					</form>

				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
					<button type="button" class="btn btn-success" id="btnCreate" form="frmCreate">Create</button>
				</div>
			</div>
		</div>
	</div>


	<!--Yes-No Modal-->
	<div class="modal fade" id="ynModal" tabindex="-1" role="dialog" aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="exampleModalLongTitle">Delete</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					Are you sure you want to Delete ?
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-success" data-dismiss="modal">Close</button>
					<button type="button" class="btn btn-danger" id="btnYNDelete">Delete</button>
				</div>
			</div>
		</div>
	</div>


	<!--Update Modal-->
	<div class="modal fade" id="updateModal" tabindex="-1" role="dialog" aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="modalTitle">Update character</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">

					<form id="frmUpdate">
						<div class="form-group">
							<label for="updateCharTitle">Title</label>
							<input class="form-control" id="updateCharTitle" rows="1" name="title"></input>
						</div>
						<div class="form-group">
							<label for="updateCharDescription">Description</label>
							<textarea class="form-control" id="updateCharDescription" rows="3"
									  name="description"></textarea>
						</div>
						<div class="form-group">
							<label for="updateCharImage">Image URL</label>
							<input class="form-control" id="updateCharImage" rows="1" name="images"></input>
						</div>
					</form>

				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
					<button type="button" class="btn btn-success" id="btnUpdate" form="frmUpdate">Save</button>
				</div>
			</div>
		</div>
	</div>


	<!--Card-->
	<div class="album py-5 bg-light" data-spy="scroll" data-target=".navbar" data-offset="0">
		<div class="container">
			<div class="row">
				{{#each docs}}
					<div class="col-md-4 card-loop" card-id="{{this._id}}">
						<div class="card mb-4 box-shadow">
							<img class="card-img-top"
								 src="{{this.images}}"
								 data-src="holder.js/100px225?theme=thumb&bg=55595c&fg=eceeef&text=Thumbnail"
								 alt="Card image cap" height="225" width="348">
							<div class="card-body">
								<h5 class="card-title">{{this.title}}</h5>
								<p class="card-text">{{this.description}}</p>
								<div class="d-flex justify-content-between align-items-center">
									<div class="btn-group">
										<button type="button" class="btn btn-sm btn-outline-primary btnCardEdit"
												dbID="{{this._id}}">Edit
										</button>
										<button type="button" class="btn btn-sm btn-outline-danger btnCardDelete"
												dbID="{{this._id}}">Delete
										</button>
									</div>
								</div>
							</div>
						</div>
					</div>
				{{/each}}
			</div>
		</div>
	</div>
</main>