<!DOCTYPE html>
<html>
<head>
	<title>{{title}}</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
	<link rel='stylesheet' href='/stylesheets/style.css'/>
</head>
<body>

{{> nav}}

{{{body}}}

{{> footer}}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="https://cdn.rawgit.com/imsky/holder/master/holder.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.11/handlebars.min.js"></script>
<script src="javascripts/config.js"></script>
{{{{raw-helper}}}}
<script id="template-hbs" type="text/x-handlebars-template">
	<div class="col-md-4 card-loop" card-id="{{this._id}}">
		<div class="card mb-4 box-shadow">
			<img class="card-img-top"
				 src="{{this.images}}"
				 data-src="holder.js/100px225?theme=thumb&bg=55595c&fg=eceeef&text=Thumbnail"
				 alt="Card image cap" height="225" width="348">
			<div class="card-body">
				<h5 class="card-title">{{this.title}}</h5>
				<p class="card-text">{{this.description}}</p>
				<div class="d-flex justify-content-between align-items-center">
					<div class="btn-group">
						<button type="button" class="btn btn-sm btn-outline-primary btnCardEdit"
								dbID="{{this._id}}">Edit
						</button>
						<button type="button" class="btn btn-sm btn-outline-danger btnCardDelete"
								dbID="{{this._id}}">Delete
						</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</script>
{{{{/raw-helper}}}}

</body>
</html>
